@using Portfolio.State;
@inject ILanguageState languageState;
@implements IDisposable;
@inject IConfiguration configuration;



<SectionHeader SectionId="about-me" Title="@aboutMeContent.HeaderTitle" Subtitle="@aboutMeContent.HeaderSubtitle" Info="@aboutMeContent.HeaderInfo" />
<div class="row about-me-container">
    <div class="col-lg-3">
        <div class="image-col-content">
            <div class="image-container">
                <img src="https://avatars.githubusercontent.com/u/11906403?v=4" alt="Facundo vega front picture">
                <SocialLinks />
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="about-me-info-container">
            <h3>@aboutMeContent.SectionTitle</h3>
            <p class="subtitle">@aboutMeContent.SectionSubtitle</p>
            @foreach (string paragraph in aboutMeContent.Paragraphs)
            {
                <p class="content-info">@paragraph</p>
            }
        </div>
    </div>
</div>


@code {
    private AboutMeContent aboutMeContent;

    protected override void OnInitialized()
    {
        aboutMeContent = configuration.GetSection($"AboutMe:English").Get<AboutMeContent>();
        languageState.OnChange += LanguageStateHasChanged;
    }

    public void Dispose()
    {
        languageState.OnChange -= StateHasChanged;
    }

    private void LanguageStateHasChanged()
    {
        aboutMeContent = configuration.GetSection($"AboutMe:{languageState.SelectedLanguage}").Get<AboutMeContent>();
        StateHasChanged();
    }
}
