@using Portfolio.State;
@inject ILanguageState languageState;
@implements IDisposable
@inject IConfiguration configuration;



<SectionHeader SectionId="certs"  Title="@certContent.HeaderTitle" Subtitle="@certContent.HeaderSubtitle" Info="@certContent.HeaderInfo" />
<div class="row certs-container">
    <div class="col-lg-6">
        <Cert Image="@certContent.CertItems[0].Image" ButtonText="@certContent.CertItems[0].ButtonText" Title="@certContent.CertItems[0].CertTitle" Info="@certContent.CertItems[0].Info" HighlitghtedText="@certContent.CertItems[0].HighlightedInfo" Link="@certContent.CertItems[0].Link" />
        <Cert Image="@certContent.CertItems[1].Image" ButtonText="@certContent.CertItems[1].ButtonText" Title="@certContent.CertItems[1].CertTitle" Info="@certContent.CertItems[1].Info" HighlitghtedText="@certContent.CertItems[1].HighlightedInfo" Link="@certContent.CertItems[1].Link" />

    </div>
    <div class="col-lg-6">
        <Cert Image="@certContent.CertItems[2].Image" ButtonText="@certContent.CertItems[2].ButtonText" Title="@certContent.CertItems[2].CertTitle" Info="@certContent.CertItems[2].Info" HighlitghtedText="@certContent.CertItems[2].HighlightedInfo" Link="@certContent.CertItems[2].Link" />
        <Cert Image="@certContent.CertItems[3].Image" ButtonText="@certContent.CertItems[3].ButtonText" Title="@certContent.CertItems[3].CertTitle" Info="@certContent.CertItems[3].Info" HighlitghtedText="@certContent.CertItems[3].HighlightedInfo" Link="@certContent.CertItems[3].Link" />
    </div>
</div>

@code {
    private string HeaderTitle { get; set; } = "Certs";
    private string HeaderSubTitle { get; set; } = "Where Do I Start?";
    private string HeaderInfo { get; set; } = "Gain clarity on your future, train your creativity, and learn a recession proof skill.";
    private CertContent certContent;


    protected override void OnInitialized()
    {
        certContent = configuration.GetSection($"Certs:English").Get<CertContent>();
        languageState.OnChange += LanguageStateHasChanged;
    }

    public void Dispose()
    {
        languageState.OnChange -= LanguageStateHasChanged;
    }

    private void LanguageStateHasChanged()
    {
        certContent = configuration.GetSection($"Certs:{languageState.SelectedLanguage}").Get<CertContent>();
        StateHasChanged();
    }

   
}
