@using Portfolio.State;
@inject ILanguageState languageState;
@implements IDisposable;
@inject IConfiguration configuration;


<SectionHeader SectionId="experience" Title="@content.HeaderTitle" Subtitle="@content.HeaderSubtitle" Info="@content.HeaderInfo" />
<div class="row experience-main-container">
    <div class="col-lg-6">
        <div class="info-container">
            <h2 class="title">@content.SectionTitle</h2>
            <p class="info">
                  @content.SectionParagraph
            </p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="image-container">
            <img class="image" src="images/Developer.svg" />
        </div>
    </div>

</div>

@code {
    private ExperienceContent content;

    protected override void OnInitialized()
    {
        content = configuration.GetSection($"Experience:English").Get<ExperienceContent>();
        languageState.OnChange += LanguageStateHasChanged;
    }

    public void Dispose()
    {
        languageState.OnChange -= StateHasChanged;
    }

    private void LanguageStateHasChanged()
    {
        content = configuration.GetSection($"Experience:{languageState.SelectedLanguage}").Get<ExperienceContent>();
        StateHasChanged();
    }
}
