@inject IJSRuntime JS;
@using Portfolio.State;
@inject ILanguageState languageState;
@implements IDisposable;
@inject IConfiguration configuration;

<div class="row footer-row">
    <div class="col-lg-6 order-lg-2">
        <div class="contact-me-container">
            <h2 class="contact-me-title" >@content.SecondaryParagraphTitle</h2>
            <p class="contact-me-info">
                <strong>@content.SecondaryHighligthedParagraph</strong> @content.SecondaryCommonParagraph
            </p>
            <ContactMeForm ButtonText="@content.ButtonText" PlaceholderText="@content.InputPlaceHolder" />
        </div>
    </div>
    <div class="col-lg-6 order-lg-1">
        <div class="social-network-container">
            <button @onclick=scrollToBeginning  class="portfolio-logo">FV</button>
            <h3 class="network-title">@content.MainParagraphTitle</h3>
            <p class="network-info">@content.CommonParagraph</p>
            <SocialLinks />
        </div>
    </div>
    <span class="trademark order-lg-3">Powered by Blazor</span>
</div>

@code {
    private FooterContent content;

    private void scrollToBeginning()
    {
        var jsInProcess = (IJSInProcessRuntime)JS;
        jsInProcess.InvokeVoid("scrollToElement", "app");
    }


    protected override void OnInitialized()
    {
        content = configuration.GetSection($"Footer:English").Get<FooterContent>();
        languageState.OnChange += LanguageStateHasChanged;
    }

    public void Dispose()
    {
        languageState.OnChange -= StateHasChanged;
    }

    private void LanguageStateHasChanged()
    {
        content = configuration.GetSection($"Footer:{languageState.SelectedLanguage}").Get<FooterContent>();
        StateHasChanged();
    }
}
