
<div div class="row">
    <div class="col-12 d-block d-md-none">
        <BSCarousel HasControls="true" HasIndicators="true">
            @foreach(var card in Items)
            {
                <BSCarouselItem Interval="0">
                    <div class="skill-card-container">
                        <SkillCard Title="@card.Title" Image="@card.Image" Info="@card.Info" />
                    </div>
                </BSCarouselItem>
            }
        </BSCarousel>
    </div>
    <div class="col-12 d-none d-md-block  d-lg-none ">
        <BSCarousel HasControls="true" HasIndicators="true">
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="@Items[0].Title" Image="@Items[0].Image" Info="@Items[0].Info" />
                    <SkillCard Title="@Items[1].Title" Image="@Items[1].Image" Info="@Items[1].Info" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="@Items[2].Title" Image="@Items[2].Image" Info="@Items[2].Info" />
                    <SkillCard Title="@Items[3].Title" Image="@Items[3].Image" Info="@Items[3].Info" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="@Items[4].Title" Image="@Items[4].Image" Info="@Items[4].Info" />
                    <SkillCard Title="@Items[5].Title" Image="@Items[5].Image" Info="@Items[5].Info" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="@Items[6].Title" Image="@Items[6].Image" Info="@Items[6].Info" />
                    <SkillCard Title="@Items[7].Title" Image="@Items[7].Image" Info="@Items[7].Info" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="@Items[8].Title" Image="@Items[8].Image" Info="@Items[8].Info" />
                </div>
            </BSCarouselItem>
        </BSCarousel>
    </div>
    <div class="col-12 d-none d-lg-block great-carousel">
        <BSCarousel HasControls="true" HasIndicators="true">
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="@Items[0].Title" Image="@Items[0].Image" Info="@Items[0].Info" />
                    <SkillCard Title="@Items[1].Title" Image="@Items[1].Image" Info="@Items[1].Info" />
                    <SkillCard Title="@Items[2].Title" Image="@Items[2].Image" Info="@Items[2].Info" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="@Items[3].Title" Image="@Items[3].Image" Info="@Items[3].Info" />
                    <SkillCard Title="@Items[4].Title" Image="@Items[4].Image" Info="@Items[4].Info" />
                    <SkillCard Title="@Items[5].Title" Image="@Items[5].Image" Info="@Items[5].Info" />
                </div>
            </BSCarouselItem>
            <BSCarouselItem Interval="0">
                <div class="skill-card-container">
                    <SkillCard Title="@Items[6].Title" Image="@Items[6].Image" Info="@Items[6].Info" />
                    <SkillCard Title="@Items[7].Title" Image="@Items[7].Image" Info="@Items[7].Info" />
                    <SkillCard Title="@Items[8].Title" Image="@Items[8].Image" Info="@Items[8].Info" />
                </div>
            </BSCarouselItem>
        </BSCarousel>
    </div>
</div>



@code {
    [Parameter]
    public List<StackItem> Items { get; set; }
}
