@using Portfolio.State;
@inject ILanguageState languageState;
@implements IDisposable
@inject IConfiguration configuration;


<SectionHeader SectionId="stack"  Title="@stackContent.HeaderTitle" Subtitle="@stackContent.HeaderSubtitle" Info="@stackContent.HeaderInfo" />
<div class="row stack-container">
    <div class="col-lg-6">
        <div class="main-stack-container">
            <img class="main-stack-image" src="/images/main-stack.jpg" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="stack-detail-container">
            <h2 class="stack-detail-title">@stackContent.SectionTitle</h2>
            @foreach(string paragraph in stackContent.Paragraphs )
            {
                <p class="stack-detail-info">@paragraph</p>

            }
        </div>
    </div>
</div>

<SkillCarousel Items="@stackContent.StackItems" />

@code {

    private StackContent stackContent;

    protected override void OnInitialized()
    {
        stackContent = configuration.GetSection($"Stack:English").Get<StackContent>();
        languageState.OnChange += LanguageStateHasChanged;
    }

    public void Dispose()
    {
        languageState.OnChange -= LanguageStateHasChanged;
    }

    private void LanguageStateHasChanged()
    {
        stackContent = configuration.GetSection($"Stack:{languageState.SelectedLanguage}").Get<StackContent>();
        StateHasChanged();
    }
}
